			body { 
				background-color: #DCDCDC;
				position:fixed;
   				top: 0px;
    			bottom: 0px;
   				left:0px;
   				right:0px;
			}
			img {
				width: 80px;
				height: 80px;
				z-index: 9;
				margin-bottom: -105px;
				position: relative;
				right:0;
			}
			.allHeader { 
				position: relative;
				top: -40px;
				opacity: 1;
				-webkit-animation: allHeader 2s;
				animation: allHeader 2s;
				}
			@-webkit-keyframes allHeader {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
			@keyframes allHeader {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
			.textTitle {
				color: 	#90EE90; 
				font-family: Helvetica;
				font-size: 50px;
				margin-left: 95px;
				position: relative;
				top: -40px;
				right: 0px;
				
			}
			#mainHeader {
				width: 105%;
				height: 93px;
				background-color: white;
				margin-top: -40px;
				margin-left: -10px;
			}
			ul {
			    list-style-type: none;
			    position: absolute;
				right: 0%;
				top: 35px;
			    overflow-x: hidden;
			    z-index: 1;
			}

			li {
			    float: left;
			    font-family: Helvetica;
			    font-weight: lighter;
			    font-size: 16px;
			    z-index: 16;
			}

			li a {
				z-index: 20;
				margin-top: 10px;
				margin-bottom: 30px;
				margin-right: 13px;
			    display: block;
			    color: black;
			    text-align: center;
			    padding: 10px 18px;
			    text-decoration: none;
			}
			li a:hover {
				box-shadow: 3.5px 3.5px 14px rgba(0, 0, 0, 0.4);
			}
			a:hover:not(.active) {
			    background-color: white;
			}
			.active {
				background-color: #90EE90;
				font-weight: bold;
			}
			#dialog {
				max-width: 850px;
				height: 400px;
				background: white;
				border-radius: 5px;
				overflow: hidden;
				overflow-y: scroll;
				position: relative;
				top: -1375px;
				opacity: 1;
				transform: scale(1, 1); 
				-webkit-animation: dialogMove 3s;
				animation: dialogMove 3s;
				-webkit-transition: box-shadow 1s;
				transition: box-shadow 1s;
				-webkit-transition: transform 1s;
				transition: transform 1s;
				-webkit-transition-timing-function: ease-in-out;
				z-index: 0;
			}
			#dialog:hover {
				transform: scale(1.025, 1.025);
				box-shadow: 0px 10px 10px darkgrey;
			}

			@-webkit-keyframes dialogMove {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
			@keyframes dialogMove {
				0% {opacity: 0;}
				100% {opacity: 1;}
			}
			#inputText {
				width: 616px;
				height: 40px;
				outline: none;
				border: 0;
				color: #000;
				border-radius: 5px;
				font-size: 20px;
				position: relative;
				top: -1330px;
				z-index: 16;
				-webkit-animation: txt 2s;
				animation: txt 2s;
			}
			@-webkit-keyframes txt {
					0% {margin-top: 120px;}
					100% {margin-top: 0px;}
			}
			@keyframes txt {
					0% {margin-top: 120px;}
					100% {margin-top: 0px;}
			}
			textarea {
				background-color: white;
				border: 2px solid deepskyblue;
				border-radius: 15px;
				font-size: 20px;
				z-index: 11;
				padding: 10px 10px;
				box-shadow: 20px 20px 20px lightgrey;
			}
			#prompt1 { 
				visibility: hidden;
				position: relative;
				top: -750px;
			}
			#prompt2 { 
				visibility: hidden;
				position: relative;
				top: -895px;
			}
			#prompt3 { 
				visibility: hidden;
				position: relative;
				top: -1030px;
			}
			#btnPrompt {
				visibility: hidden;
				width: 70px;
				height: 30px;
				border-radius: 3px;
				position: relative;
				left: 450px;
				top: -1070px;
				z-index: 10;
				background-color: white;
				-webkit-transition: background-color 2s;
				color: deepskyblue;
  				outline:none;
  				font-family: Helvetica;
  				font-weight: lighter;
  				font-size: 15px;
  				border: 1px solid deepskyblue;
  				box-shadow: 20px 20px 20px lightgrey;
			}
			#btnPrompt:hover {
				background-color: deepskyblue;
				color: white;
				border: none;
			}
			#blur {
				width: 100%;
				height: 110%;
				position: absolute;
				left:0; right:0; top:0; bottom:0;
				-webkit-filter: blur(5px);
				z-index: 9;
				background-color: white;
				opacity: 0.8;
				-webkit-filter: blur(100px);
				visibility: hidden;
			}
			#titleInput {
				visibility: hidden; /* temp 
				position: relative;
				top: -50px;
				left: -30px;
				*/
				position: relative;
				top: -800px;
				width: 500px;
				height: 25px;
				background-color: white;
				border: 2px solid deepskyblue;
				border-radius: 5px;
				font-size: 20px;
				z-index: 10;
				padding: 10px 10px;
				box-shadow: 20px 20px 20px lightgrey;
			}
			/*
			#hidden {
				position: relative;
				top: -760px;
				left: 30px;
				visibility: hidden;
				z-index: 15;
			}
			*/
			span {
				font-size: 50px;
				font-family: Helvetica;
				font-weight: lighter;
				color: deepskyblue;
			}
			#mycanvas {
				visibility: hidden;
				position: relative;
				top: 15px;
				z-index: 3;
			}
			#canvasBtn {
				z-index: 3;
				position: relative;
				top: -465px;
				left: 630px;
				visibility: hidden;
				width: 70px;
				height: 30px;
				border-radius: 3px;
				z-index: 10;
				background-color: white;
				-webkit-transition: background-color 2s;
				color: deepskyblue;
  				outline:none;
  				font-family: Helvetica;
  				font-weight: lighter;
  				font-size: 15px;
  				border: 1px solid deepskyblue;
			}
			#canvasBtn:hover {
				background-color: deepskyblue;
				color: white;
				border: none;
			}
			#whiteCanvas {
				visibility: hidden;
				position: relative;
				top: -425px;
				width: 600px;
				height: 450px;
				background-color: white;
				border-radius: 5px;
				z-index: 2;
				box-shadow: 7px 7px 7px darkgrey;
			}
			@media only screen and (max-device-width: 480px) and (orientation: portrait) {
				#dialog {
					font-size: 50px;
					height: 650px;
					top: -1125px;
				}
				#inputText {
					font-size: 30px;
					height: 50px;
					top: -1100px;
				}
				#mainHeader {
					height: 175px;
					background-color: white;
				}
				ul {
					right: 17.5%;
					top: 100px;
				}
				li {
				    font-size: 24px;
				}
				li a {
				    padding: 16px 36px;
				}
				.textTitle {
					right: -35%;
				}
				img {
					right: -36%;
				}
			}
			@media only screen and (min-device-width: 1599px) {
				#dialog { top: -1350px;}
				#inputText { top: -1300px;}
				#btnPrompt { z-index: 35; top: -1075px;}
			}